<button mat-icon-button color="accent">
  <mat-icon>home</mat-icon>
</button>

<div class="container"
  fxLayout="row wrap"
  fxLayoutGap="0px"
  fxLayoutAlign="start start"
>
  <!-- <div class="div1"
    fxFlex="10"
  >
    1. One (w=200px)
  </div>

  <div class="div2"
    fxFlex="20"
  >
    2. Two (none)
  </div> -->

  <div
    class="div3"
    fxFlex="50%"
  >
    3. Three (h=100px)
  </div>

  <div
    class="div4"
    fxFlex="50%"
    fxFlex.gt-sm="40%"
    fxFlex.gt-md="60%"
    fxFlex.gt-lg="80%"
    fxFlex.gt-xl="100%"
  >
    4. Four (w=200px; h=50px)
  </div>
</div>
